<html>
<head></head>
<body>
<h2>Log In</h2>
<form method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="oknvdDtxFgQqC1JNAiGL5kyxOuDIU1JKrdHto4Ih39hOzW48kh1O5gjJsf3smaZx">
  <ul class="errorlist nonfield">
<li>Por favor, entre com um usuário  e senha corretos. Note que ambos os campos diferenciam maiúsculas e minúsculas.
</li>
</ul>
<p>
<label for="id_username">Usuário:</label>
<input type="text" name="username" value="" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
</p>
<p>
<label for="id_password">Senha:</label> 
<input type="password" name="password" autocomplete="current-password" required="" id="id_password">
</p>
  <button type="submit">Log In</button>
</form>
</body>
</html>