{% load static %}
<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block titulo %}<title>PWeb 2020.6</title>{% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/link.css' %}">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <li class="navbar-brand" href="#">Tasks Tracking</li>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul type="disc" class="navbar-nav">
                    <li><a class="nav-link" href="/">Tarefas</a></li>
                    <li><a class="nav-link" href="/cadastrar_tag">Tags</a></li>
                    <li><a class="nav-link" href="/cadastrar_link">Links</a></li>
                    <li><a class="nav-link" href="#">Execuções</a></li>
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <footer id="rodape">
            <p>Copyright &copy; 2020 - by Turma de Pweb 2020.6</br></p>
        </footer>
    </div>
</body>
</html>
