{% extends "base.html" %}

{% block titulo %}
  <title>PWeb 2020.6 - Index</title>
{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
  <div class="col-2 add-div">
    <a href="{% url 'cadastrar_tarefa' %}" class="btn">
      <i class="fas fa-plus"></i>
      <span class="add-tarefa">Adicionar Tarefa</span>
    </a>
  </div>
  <div class="col-9 search-div">
      <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da tarefa para buscar...">
      <i class="fas fa-search"></i>
  </div>
  <ul class="task-list">
    {% for tarefa in lista_tarefas %}
      <li class="task-item">
        <span>play stop</span>
        <a href="{% url 'detalhar_tarefa' tarefa.pk %}"  
          <span>{{ tarefa }}</span>
        </a>
        <span>00:00:00</span>
        <div class="tag_text">
          {% for tag in tarefa.tag_set.all %}
            {{ tag }}<span>&nbsp;</span>
          {% endfor %}
        </div>
        <input />
        <span><i class="fas fa-trash"></i></span>
        <span><i class="fas fa-edit"></i></span>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock%}