{% extends "base.html" %}
{% load static %}

{% block titulo %}
  <title>PWeb 2020.6 - Index</title>
{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
  <div class="col-2 add-div">
    <a href="{% url 'cadastrar_tarefa' %}" class="btn">
      <i class="fas fa-plus"></i>
      <span class="add-tarefa">Adicionar Tarefa</span>
    </a>
  </div>

    <form action="/pesquisar_tarefas" method="post" class="col-9 search-div">
      {% csrf_token %}
      <input class="form-control" type="text" id="search" name="search" 
      placeholder="Digite o nome da tarefa para buscar...">
      <button type="submit" class="fas fa-search btn-light">
      </button>
    </form>

  <ul class="task-list">
    {% for tarefa in lista_tarefas %}
      <li class="task-item">
        <span><i class="fas fa-play" onclick="start('{{ tarefa.pk }}')"></i></span>
        <span><i class="fas fa-pause" onclick="pause()"></i></span>
        <span><i class="fas fa-stop" onclick="stop()"></i></span>
        <span>&nbsp;</span>
        <a href="{% url 'detalhar_tarefa' tarefa.pk %}"
        <span>{{ tarefa }}</span>
        </a>
        <div id="counter" class="d-inline">00:00:00</div>
        <div class="tag_text">
          {% for tag in tarefa.tag_set.all %}
            {{ tag }}<span>&nbsp;</span>
          {% endfor %}
        </div>
        <input />
        <span><i class="fas fa-trash"></i></span>
        <span><i class="fas fa-edit"></i></span>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock%}

{% block myscripts %}
  <script src="{% static 'js/crom.js' %}"></script>
{% endblock myscripts %}
